rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /models/{projectId}/{allPaths=**} {
      // Herkes okuyabilir (müşteriler .glb dosyalarını indirip görüntüler)
      allow read: if true;
      // Upload sadece yetkili (test modu)
      allow write: if true;
    }
  }
}
